/* fonts */

/* variáveis */
:root {
  --color-black: #000;
  --color-white: #fff;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: ; */
}

/* html e body */
html,
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
}

body {
  background: url(https://images.pexels.com/photos/1670977/pexels-photo-1670977.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)
    no-repeat top center/cover;
}

/* main */
main {
  position: relative;

  height: 100vh;
}

/* sections */
/* section do telefone */
section#telefone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 311px;
  height: 627px;

  background: url(./img/frame-iphone.png) no-repeat center;
}
iframe#tela {
  position: relative;
  top: 80px;
  left: 20px;

  width: 270px;
  height: 471px;
}

/* section de icones */
section#redes-sociais {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
}
section#redes-sociais .icones {
  display: flex;
  flex-direction: column;
}

section#redes-sociais img {
  width: 50px;
  border: 1px solid var(--color-white);
  margin: 0 20px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

section#redes-sociais img:hover {
  transform: scale(1.1);
}
